.fade {
  opacity: 0;
  transition: all .2s ease-in-out;

  &.active {
    opacity: 1;
  }
}

.collapse {
  display: none;
  &.active {
    display: block;
  }
}

tr {
  &.collapse.active {
    display: table-row;
  }
}

tbody {
  &.collapse.active {
    display: table-row-group;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height;
}
